@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-accent: #D4AF37; /* Gold */
  --secondary-accent: #000000; /* Black */
  --background-dark: #050505;
  --text-light: #F3F4F6;
}

body {
  background-color: var(--background-dark);
  background-image: radial-gradient(circle at 50% 0%, #1a1a1a 0%, #000000 100%);
  color: var(--text-light);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}
/* BLINDAGEM VISUAL */
body {
  -webkit-user-select: none !important; /* Chrome/Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE/Edge */
  user-select: none !important; /* Padrão */
}

img {
  -webkit-user-drag: none !important; /* Impede arrastar imagem */
  pointer-events: none; /* Impede clicar/salvar imagem */
}

/* Libera seleção apenas em campos de input para o cliente conseguir digitar */
input, textarea {
  -webkit-user-select: text !important;
  user-select: text !important;
}